In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [3]:
model= load_model('model.h5')

with open('labelencoder.pkl', 'rb') as file:
    LabelEncoder = pickle.load(file)


with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

with open('onehot_encoder.pkl', 'rb') as file:
    onehot_encoder = pickle.load(file)

In [16]:
inputdata= { 
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 5,
    'Balance': 10000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000}

In [22]:
geo_encoded = onehot_encoder.transform([[inputdata['Geography']]])
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder.get_feature_names_out(['Geography']))

geo_encoded_df

c:\projectdl\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [31]:
inputdf=pd.DataFrame([inputdata])
inputdf

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [35]:
inputdf

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1  ...          1               1            50000

[1 rows x 10 columns]

In [38]:
input = pd.concat([inputdf, geo_encoded_df], axis=1)
input = input.drop(columns=['Geography'])

In [40]:
input

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [41]:
input_scaled = scaler.transform(input)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.00134472, -1.05836066,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [42]:
prediction = model.predict(input_scaled)
prediction

1/1 [==============================] - 1s 659ms/step

array([[0.01617382]], dtype=float32)